@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  font-size: 62.5%; /* 1rem = 10 px */
}
body {
  font-family: 'Righteous', cursive;
  font-size: 1.6rem;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2.4rem;
}
.cabecalho-imagem {
  width: 7.2rem;
}

.cabecalho-menu {
  display: flex;
  gap: 4.2rem;
}

.cabecalho-item {
  font-family: 'Sarala', sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 1.8rem; 
}
.conteudo {
  border-top: 0.4px solid #fff2e7;
  margin-bottom: 4.8rem;
}
.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.titulo {
  font-family: 'Righteous', cursive;
  font-size:6.4rem ;
  font-weight: 400;
  color: #fff2e7;
}

.subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 2,4rem;
  color: #ecd6c4;
}

.buttom {
  background-color: #ecd6c4;
  width: 18rem;
  height: 6rem;
  border: none;
  border-radius: 2rem;
  box-shadow: .4rem .5rem .4rem rgba(0, 0, 0, 0.25);
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #2f2325;
}
.buttom:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.img-principal {
  height: 43rem;
}
.segundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-top: 4.8rem;
}

.subtituloh3 {
  border-top: .4px solid #fff2e7;
  padding-top: 4.8rem;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff2e7;
  margin-bottom: 1.6rem;
}

.paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff2e7;

}

.footer {
  padding: 3.2rem;
  border-top:.4px solid  #fff2e7;
}

.imagem-footer {
  height: 4.8rem;
  display: block;
  margin: 0 auto;
}
